header{text-align: left;
  font-size: 30px;
  color: black;}

  p.clear{clear: both;
}
h1{font-size: 15px;
  color: black;
  text-align:left;}
h2{font-variant: small-caps;
color: white;
}
p.greating{text-align: center;}
div{height: auto;
width:auto;}
td{text-align: left;}
th{text-align: left;
width: 150px;}
